<html>
<body>
  <form method="post" action="/register">
   Name:<br>
  <input type="text" name="name" value=""><br>
  Email:<br>
  <input type="text" name="email" value=""><br>
  Username:<br>
  <input type="text" name="username" value=""><br>
  Password:<br>
  <input type="password" name="password" value=""><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
